/*
sombras para fondo claro
.fondoclaro{
-webkit-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.58);
    box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.58);
    transition: .3s all;
}
*/

.mainContainerCard {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #434343, #000000); */
    /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #eef2f3;
    /*es oscuro pero transparente*/
    backdrop-filter: blur(2px);
    /*transparenta*/
    width: 365px;
    /*El ancho que le quiero dar*/
    height: 393px;
    position: relative;
    margin: auto;
    /*a 60px del margen*/
    border-radius: 10px;
    /*los tres hacen una sombra que sobresale un poco del fondo */
    box-shadow: 2px 2px 4px #ccc;
    -webkit-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.3);
    /* box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.3); */
    transition: .3s all;

}

.mainContainerCard:hover {
    /* background-color: rgba(87, 87, 87, 0.6); */
    backdrop-filter: blur(2px);
    transform: traslateY(-15px);
    /* box-shadow: 0 12px 16px rgb(0, 0, 0, 0, 0.2); */
    box-shadow: 1px 3px 5px #F2059F;

}

.mainContainerCard:active {
    background-color: #414344;
}

.gameCard img {
    width: 365px;
    height: 200px;
    border-radius: 10px;
}


.detailsContent {
    margin-top: 2px;
    font-size: 16px;
    text-decoration: none;
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.detailsContent h3 {
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    color:#03738C;
}



.cardContent {
    margin-left: 15px;
    margin-top: 10px;
}

.buttonDetails {
        display: inline-block;
        background-color: #F2059F;
        color: #c9c9c9;
        border: none;
        font-size: 16px;
        font-weight:bolder;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem;
        margin-top: 0.7rem;
        cursor: pointer;
        width: 50%;
        height: 40px;
      }

.starsContainer{
    color:#c9c9c9;
}
.starsContainer i {
    color:#F2059F;
}

.fuchsia {
    color: #F2059F;
    
}

@media (min-width: 300px) and (max-width: 680px) {

    .mainContainerCard{
        width: 315px;
    }

    .gameCard img {
        width: 315px;
        
    }

    .favButton{
        margin-left: 0px;
    }
}