/* 
estilos para fondo claro 
.main-container-detail {
    
    -webkit-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.58);
    box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.58);
    transition: .3s all;
} */

.mainContainerDetail {
  
  align-items: left;
  background-color: rgba(23, 21, 21, 0.2);
  backdrop-filter: blur(2px);
  color: #c9c9c9;
  border-radius: 10px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -9px 11px 19px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s all;
  margin-bottom: 50px;
  margin-top: 50px;
}

.img {
  width: 100%;
  max-height: 900px;
  object-fit: cover;
  margin-bottom: 10px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 34px;
  text-align: left;
  color:#03738C
}

.extras {
 
  text-align: left;
  
}

.description {
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 20px;
  text-align: left;
}

.starsContainer{
  color:#c9c9c9;
}
.starsContainer i {
  color:#F2059F;
}

.fuchsia {
  color: #F2059F;
}

.numerSizeFont {
  margin-bottom: 0px;
  
}


.platformsReleased{
  margin-bottom: 0px;
  margin-top: 10px;
  
}
.platformsReleased p{
  font-size: 20px;
}

.platformsReleased > * + * {
  margin-top: 10px;
}


.starsContainer {
  display: flex;
  flex-direction: row;
  font-size: 22px;
}