.this {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    text-decoration: none; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.marginTop{
    margin-top: 60px;
}