/* .backgroundImage {
  align-items: center;
  background-image: url('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/04/videojuegos-vendidos-1995-2020-2296181.jpg?tf=3840x') ;
  background-repeat: no-repeat;
  background-size: contain;
  min-height:90vh;
  min-width: 100vh;
  
} */


main {
  background-image: url('../image/Fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: auto auto;
  align-items:center;
  justify-content:space-evenly;
  height: 100vh;
}

main h1 {
  color: #fff;
  font-size: 4.5rem;
  text-align: left;
}

main p {
  font-size: 1rem;
  width: 18rem;
  color: white;
  line-height: 1.2rem;
  text-align: left;
}


/*#F2387C
#7517F8
Oriana Galdeano20:11
#022340*/


main button {
  display: inline-block;
  background-color: #F2059F;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
}

main button:hover {
  background-color: #fff;
  color: #F2059F;
  cursor: pointer;

}
main button:active {
  background-color: #fff;
  color: #F2059F;
  cursor: pointer;

}

#text-side {
  /* margin-top:1px;*/
  display: flex;
  
}

.secondtext {
  font-size: 22px;
  display: flex;
  background-color: transparent;
  height: 60%;
  width: 100%;
  text-align: left;
  
}



/* Responsive */
@media (min-width: 680px) and (max-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  }

  
}
.text-side {
  align-items: center;
  margin-left: 0px;

}
main button:active {
  background-color: #fff;
  color: #F2059F;
  cursor: pointer;

}

@media (min-width: 300px) and (max-width: 680px) {
  main {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  main button:active {
    background-color: #fff;
    color: #F2059F;
    cursor: pointer;
  
  }
 
}