* {
    text-decoration: none;
    /* text-transform: capitalize; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00000070;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.899);
    padding: 1px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 2080px;
    background-color: #000000;
    color: #fff;
    transition: all 0.4s ease;
    transition: all 0.4s ease-out;
    
}


.logo {
    margin-top: 5px;
    font-weight: bolder;
    font-size: 65px;
    color: white;
    height: 75px;
    /* color: #F2059F */
}

.toggle {
    display: none;
}


.nav ul {
    list-style: none;
}

.nav ul li {
    position: relative;
    float: left;
    font-size: 15px;
    padding: 15px;
    color: rgb(192, 192, 192);
    /* background: #000000b7; */
    display: block;
}

.nav ul li :hover {
    background: inherit;
    color: #fff;
    padding: 15px;
}


.nav ul li select option {
    background-color: #000000;
    /* fallback for old browsers */
    /* background-color: -webkit-linear-gradient(to right, #434343, #000000);  Chrome 10-25, Safari 5.1-6 */
    /* background-color: linear-gradient(to right, #434343, #000000); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    border: none;
}

.nav ul li select option {
    color: #fff;
}


.ulStyle {
    display: flex;
    justify-content: center;
}

.ulStyle>li {
    position: relative;
    height: 30px;
}

.liSel {
    margin-top: -14px;
    position: relative;
}

.myselect {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    border: inherit;
    padding: inherit;
}


.myselect:hover {

    color: inherit;
    cursor: pointer;
}


/**/
.create:hover {

    color: #fff;
   
}




@media(max-width:991px) {
    /* 991 es el maximo*/

    .container {
        padding: 20px;
        background: #000000;

    }

    .container label {
        display: initial;
    }


    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

   


    .ulStyle {
        display: none;
    }
   
    .prueba{
        transition: all 0.4s ease;
        transition: all 0.4s ease-out;
    }

    .prueba .ulStyle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        flex-wrap: wrap;
        height: 25%;
        margin-top: 0px;
        /* font-size: 200px; no funciona */
    }
    .prueba .ulStyle .liSel {
        margin-top:-55px;
        margin-bottom: 0px;
    }
   


    .toggle {
        display: block;
        color: white;
        margin-right: 20px;
        font-size: 30px;
        transform: rotate(90deg);
        transition: .3s;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
}