

 .searchBox {
    margin-top: 5px;
    background: #222222;/*color del borde*/
    border-radius: 40px;
    padding: 10px;
}
nav .searchBox{
    display: none;
}


.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    
}


.searchBox:hover > .searchButton {
  background: rgb(225, 221, 221);
  color : #2f3640;
  cursor:pointer;
}

.searchButton {
    color: white; /*Es la lupa*/
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0b0c0c;/* color del circulo de adentro*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.searchInput {
    border:none;
    background: none;
    outline:none;
    padding: 0;
    color: rgb(231, 231, 231); /*Las letras del input*/
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}


@media(max-width:991px){
    .search{
        display: none
    }   
    .searchBox{
        display: none
    }       
    .searchButton{
        display: none
    }     
    .searchInput{
        display: none
    }

    nav .searchNone .searchBox{ 
        display: none;
         
    }
    nav .searchBurger .searchBox{ 
        display: flex;
        
    }
    nav .searchBurger .searchButton{
        display: flex
     }
    nav .searchBurger .searchButton{ 
        display: flex;
    }
    nav .searchBurger .searchInput{ 
        display: flex;
    }
  } 

  
 

